@import "../../Global/sass/shadow";

.MessageRight {
    text-align: right;
}

// .MessageLeft {}


.MessagePhoto {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.MessageRight,
.MessageLeft {
    margin: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    background: white;
    @include shadow2;


    h4 {
        margin: 5px 0px;
    }

    p {
        margin: 5px;
    }

}