.Chat {
    overflow: scroll;

    &::-webkit-scrollbar {
        width: 2px;

        &-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: lightgray;
        }

        &-track-piece:end {
            margin-bottom: 100px;
        }
    }
}