.SendMessage {
    width: 60%;
    position: fixed;
    bottom: 10px;
    background: white;

    form {
        display: grid;
        grid-template-columns: 70% 20%;
        gap: 20px;







    }



}