.Label {
    padding: 10px;
    display: block;
}

.Input {
    padding: 10px;
    margin: 10px;
    border: 0px solid;
}

.Error {
    color: lightcoral
}

.Button {
    padding: 10px 20px;
    border: 0px solid;
    background: white;
    margin: 10px;
}