/* ==========================================================================
    Table of Contents
        - Hex to RGB calc
        - Color mixing
        - Light Theme
        - Dark Theme
   ========================================================================== */

/* Hex to RGB calc */

@function hexToRGB($hex) {
    @return red($hex),
    green($hex),
    blue($hex);
}


/* color mixing
========================================================================== */

:root {
    --black: #292929;
    --gray: #aeaeae;
    --light-gray: #e8e8e8;
    --dark-gray: #4f4f4f;
    --white: #FFFFFF;
    --red: #ac324c;
    --cream: #bba988;
    --blue: #336699;
    --green: #638b3f;
    --purple: #88267f;
}